.u-bc__grey {
  background-color: #f0f1f6; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 53%; } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: "Poppins", san-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  overflow-x: hidden;
  position: relative; }

.container {
  padding-top: 5rem; }

.btn {
  font-family: inherit;
  color: #bfbfbf;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 100px;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2acfcf;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease; }
  .btn--login {
    background-color: transparent;
    color: #bfbfbf; }
  .btn:hover {
    background-color: #7ce4e4;
    color: #fff;
    transform: translateY(-0.3rem); }

.section {
  width: 100%; }

.content {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 5%; }

.heading, .heading-primary, .heading-secondary, .heading-tertiary, .heading-fourth {
  color: #232127;
  line-height: 1.2; }

.heading-primary {
  font-size: 7rem; }
  @media only screen and (max-width: 75em) {
    .heading-primary {
      font-size: 6rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading-primary {
      font-size: 5rem; } }

.heading-secondary {
  font-size: 3.5rem; }
  .heading-secondary--white {
    color: #fff; }

.heading-tertiary {
  color: #232127; }

.heading-fourth {
  color: #fff;
  font-size: 1.8rem; }

.nav__content {
  color: #bfbfbf;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 7rem;
  position: relative; }

.nav__logo {
  display: flex;
  align-items: center;
  align-self: center;
  margin-right: 4rem; }
  .nav__logo img {
    width: 100%; }
    @media only screen and (max-width: 75em) {
      .nav__logo img {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .nav__logo img {
        width: 65%; } }

.nav__auth {
  margin-left: auto;
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .nav__auth {
      display: none; } }

.nav__btn:not(:last-child) {
  margin-right: 1.5rem; }

.nav__list {
  display: flex;
  list-style: none; }
  @media only screen and (max-width: 37.5em) {
    .nav__list {
      display: none; } }

.nav__item:not(:last-child) {
  margin-right: 3rem; }

.nav__item {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease; }
  .nav__item:hover {
    border-bottom: 2px solid #2acfcf;
    transform: translateY(-0.1rem); }

.navigation-mob__input {
  display: none; }

.navigation-mob__background {
  background-color: #3b3054;
  opacity: 0;
  height: 100vh;
  position: fixed;
  width: 100%;
  visibility: hidden;
  z-index: 1;
  transition: all 0.2s ease; }

.navigation-mob__toggle-btn {
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 3rem;
  right: 2rem;
  z-index: 10;
  background-color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .navigation-mob__toggle-btn {
      visibility: visible;
      opacity: 1; } }

.navigation-mob__icon {
  margin-top: 2.85rem;
  position: relative; }
  .navigation-mob__icon, .navigation-mob__icon::after, .navigation-mob__icon::before {
    height: 2px;
    width: 3.5rem;
    display: inline-block;
    background-color: #333;
    transition: all 0.2s ease; }
  .navigation-mob__icon::before, .navigation-mob__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation-mob__icon::before {
    top: 1rem; }
  .navigation-mob__icon::after {
    top: -1rem; }

.navigation-mob__nav {
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease; }
  .navigation-mob__nav-list {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
    grid-row-gap: 1rem; }
  .navigation-mob__nav-item {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.8rem;
    transition: all 0.2s ease; }
    .navigation-mob__nav-item:hover {
      color: #bfbfbf; }
  .navigation-mob__nav-auth {
    text-align: center; }
  .navigation-mob__nav-btn {
    display: inline-block; }

.navigation-mob__input:checked ~ .navigation-mob__background,
.navigation-mob__input:checked ~ .navigation-mob__nav {
  opacity: 1;
  visibility: visible; }

.navigation-mob__input:checked + .navigation-mob__toggle-btn,
.navigation-mob__input:checked + .navigation-mob__toggle-btn .navigation-mob__icon {
  background-color: transparent; }

.navigation-mob__input:checked + .navigation-mob__toggle-btn .navigation-mob__icon::before {
  background-color: #fff;
  top: 0;
  transform: rotate(-45deg); }

.navigation-mob__input:checked + .navigation-mob__toggle-btn .navigation-mob__icon::after {
  background-color: #fff;
  top: 0;
  transform: rotate(45deg); }

.header {
  color: #232127;
  padding-bottom: 15rem; }
  .header__content {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .header__content {
        flex-direction: column-reverse; } }
  .header__img {
    flex: 55%; }
    .header__img img {
      height: auto;
      width: 100%;
      transform: translateX(10vw); }
      @media only screen and (max-width: 37.5em) {
        .header__img img {
          transform: translateX(0);
          margin-bottom: 2.5rem; } }
  .header__text-box {
    flex: 45%; }
  .header__text {
    color: #9e9aa7;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem; }
    @media only screen and (max-width: 75em) {
      .header__text {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 43.75em) {
      .header__text {
        font-size: 1.6rem; } }
  .header__btn {
    margin-top: 2rem;
    font-size: 1.7rem;
    padding-right: 4rem;
    padding-left: 4rem; }

.shorten {
  transform: translateY(-8.5rem);
  margin-bottom: 12rem; }
  .shorten__component {
    background-color: #3b3054;
    border-radius: 0.6rem;
    background-image: url("../images/bg-shorten-desktop.svg");
    background-size: cover;
    padding: 5rem 6rem;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 56.2em) {
      .shorten__component {
        padding: 3.5rem 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .shorten__component {
        padding: 2rem 2rem; } }
  .shorten__form {
    display: flex;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .shorten__form {
        flex-direction: column; } }
  .shorten__error-message {
    position: absolute;
    left: 0;
    bottom: -3rem;
    font-size: 1.5rem;
    font-style: italic;
    color: #f46262;
    opacity: 0;
    transition: opacity 0.2s ease; }
    .shorten__error-message--active {
      opacity: 1; }
  .shorten__input {
    flex: 80%;
    border-radius: 0.6rem;
    border: 2px solid transparent;
    outline: none;
    font-family: inherit;
    padding: 1.5rem 2.5rem;
    font-size: 1.7rem;
    color: #232127;
    transition: all 0.2s ease; }
    @media only screen and (max-width: 56.2em) {
      .shorten__input {
        padding: 1rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .shorten__input {
        padding: 0.5rem 1rem;
        margin-bottom: 2rem;
        line-height: 1.8; } }
    .shorten__input::placeholder {
      color: #9e9aa7; }
    .shorten__input:focus {
      border: 2px solid #2acfcf; }
    .shorten__input-invalid {
      border: 2px solid #f46262; }
    .shorten__input-invalid::placeholder {
      color: rgba(244, 98, 98, 0.5); }
  .shorten__btn {
    margin-left: 2.5rem;
    border-radius: 0.6rem;
    font-size: 1.7rem;
    padding-right: 4rem;
    padding-left: 4rem;
    flex: 20%; }
    @media only screen and (max-width: 37.5em) {
      .shorten__btn {
        margin-left: 0; } }
    @media only screen and (max-width: 56.2em) {
      .shorten__btn {
        white-space: nowrap; } }
  .shorten__links-list {
    list-style: none; }
  .shorten__item {
    background-color: #fff;
    border-radius: 0.6rem;
    display: flex;
    padding: 2rem 3rem;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .shorten__item {
        flex-direction: column;
        padding: 2rem 2rem;
        align-items: flex-start;
        position: relative; }
        .shorten__item::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 0.5px;
          background-color: #bfbfbf;
          top: 30%;
          left: 0; } }
  .shorten__item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .shorten__result {
    display: flex;
    flex: 90%;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .shorten__result {
        flex-direction: column;
        align-self: stretch;
        margin-bottom: 1rem; } }
  .shorten__before {
    max-width: 40rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media only screen and (max-width: 56.2em) {
      .shorten__before {
        max-width: 25rem; } }
    @media only screen and (max-width: 37.5em) {
      .shorten__before {
        margin-bottom: 2rem; } }
  .shorten__copy-btn {
    margin-left: 3rem;
    flex: 10%; }
    @media only screen and (max-width: 37.5em) {
      .shorten__copy-btn {
        align-self: stretch;
        margin: 0;
        border-radius: 0.6rem; } }
  .shorten__after:link, .shorten__after:visited {
    color: #2acfcf;
    text-decoration: none; }

.loader {
  width: 4rem;
  animation: rotate 1.5s infinite ease; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.stats {
  background-color: #f0f1f6;
  margin-top: -8.5rem;
  padding-bottom: 11rem; }
  .stats .heading-secondary {
    text-align: center;
    margin-bottom: 1.5rem; }
  .stats__text {
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
    font-size: 1.7rem;
    color: #9e9aa7;
    margin-bottom: 10rem; }
  .stats__cards {
    display: flex;
    min-height: 40rem;
    position: relative; }
    @media only screen and (max-width: 43.75em) {
      .stats__cards {
        flex-direction: column; } }
    .stats__cards::before {
      content: "";
      width: 100%;
      height: 0.8rem;
      background-color: #2acfcf;
      position: absolute;
      top: 50%; }
      @media only screen and (max-width: 43.75em) {
        .stats__cards::before {
          width: 0.8rem;
          height: 95%;
          top: 0;
          left: 50%; } }

.card {
  background-color: #fff;
  border-radius: 0.6rem;
  flex: 1;
  padding: 8.5rem 3.5rem 3.5rem 3.5rem;
  position: relative;
  transition: all 0.2s ease; }
  .card:not(:last-child) {
    margin-right: 3.5rem; }
    @media only screen and (max-width: 43.75em) {
      .card:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5rem; } }
  .card__icon {
    display: inline-block;
    height: 8.5rem;
    width: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #3b3054;
    position: absolute;
    top: -4.5rem; }
    @media only screen and (max-width: 56.2em) {
      .card__icon {
        height: 7.5rem;
        width: 7.5rem;
        top: -4rem; } }
    .card__icon img {
      width: 50%;
      height: auto; }
  .card .heading-tertiary {
    margin-bottom: 3rem; }
  .card__text {
    color: #9e9aa7;
    font-size: 1.7rem;
    line-height: 1.7; }
  .card--1 {
    align-self: flex-start; }
    @media only screen and (max-width: 56.2em) {
      .card--1 {
        align-self: stretch; } }
  .card--2 {
    align-self: center; }
    @media only screen and (max-width: 56.2em) {
      .card--2 {
        align-self: stretch; } }
  .card--3 {
    align-self: flex-end; }
    @media only screen and (max-width: 56.2em) {
      .card--3 {
        align-self: stretch; } }
  .card:hover {
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.5rem); }

.cta {
  background-image: url("../images/bg-boost-desktop.svg");
  background-size: cover;
  background-color: #3b3054;
  text-align: center;
  padding: 5.5rem 0; }
  .cta__btn {
    display: inline-block; }
  .cta .heading-secondary {
    margin-bottom: 3rem; }

.footer {
  background-color: #232127;
  padding: 5.5rem 0; }
  .footer .content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 25rem;
    grid-row-gap: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .footer .content {
        grid-template-columns: 1fr; } }
    @media only screen and (max-width: 23.4375em) {
      .footer .content {
        justify-items: center; } }
  .footer .heading-fourth {
    margin-bottom: 2.6rem; }
  .footer__logo {
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo {
        width: 28%; } }
    .footer__logo img {
      width: 100%;
      height: auto;
      display: inline-block; }
  .footer__icon {
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    cursor: pointer; }
    .footer__icon:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-column-gap: 10rem;
    grid-row-gap: 3rem;
    justify-items: start; }
    @media only screen and (max-width: 23.4375em) {
      .footer__links {
        grid-template-columns: 1fr;
        justify-items: center; } }

.links-list {
  list-style: none; }
  .links-list__item {
    color: #bfbfbf;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s ease; }
    .links-list__item:not(:last-child) {
      margin-bottom: 1rem; }
    .links-list__item:hover {
      color: white; }
  @media only screen and (max-width: 23.4375em) {
    .links-list {
      text-align: center; } }
