// COLORS
$color-primary-cyan: hsl(180, 66%, 49%);
$color-primary-dark-violet: hsl(257, 27%, 26%);
$color-grey-light: hsl(0, 0%, 75%);
$color-dark-violet: hsl(260, 8%, 14%);
$color-grayish-violet: hsl(257, 7%, 63%);
$color-error: hsl(0, 87%, 67%);

// FONTS
$font-poppins: 'Poppins', san-serif;

// BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 56.2em; //900px
$bp-medium: 43.75em; //700px;
$bp-small: 37.5em; //600px
$bp-tiny: 23.4375em; //375px

html {
  font-size: 62.5%; //10px = 1rem
  box-sizing: border-box;

  @media only screen and (max-width: $bp-largest) {
    font-size: 53%;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-poppins;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  overflow-x: hidden;
  position: relative;
}

.main {
  background-color: #f0f1f6;
}
