.shorten {
  transform: translateY(-8.5rem);
  margin-bottom: 12rem;

  &__component {
    background-color: $color-primary-dark-violet;
    border-radius: 0.6rem;
    background-image: url("../images/bg-shorten-desktop.svg");
    background-size: cover;
    padding: 5rem 6rem;
    margin-bottom: 1.5rem;
  }

  &__form {
    display: flex;
  }

  &__input {
    flex: 1;
    border-radius: 0.6rem;
    border: 2px solid transparent;
    outline: none;
    font-family: inherit;
    padding: 1.5rem 2.5rem;
    font-size: 1.7rem;
    color: $color-dark-violet;
    transition: all 0.2s ease;

    &::placeholder {
      color: $color-grayish-violet;
    }

    &:focus {
      border: 2px solid $color-primary-cyan;
    }
  }

  &__btn {
    margin-left: 2.5rem;
    border-radius: 0.6rem;
    font-size: 1.7rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  &__links-list {
    list-style: none;
  }

  &__item {
    background-color: #fff;
    border-radius: 0.6rem;
    display: flex;
    padding: 2rem 3rem;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__result {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  &__copy-btn {
    margin-left: 3rem;
  }

  &__after:link,
  &__after:visited {
    color: $color-primary-cyan;
    text-decoration: none;
  }
}
